.users {
  padding: 20px;

  &__container {
    max-width: $desktop-min-width;
    margin: 0 auto;
  }

  &__element {
    width: 100%;
    margin-bottom: 20px;
  }

  &__input,
  &__select,
  &__filter-select{
    width: 100%;
    max-width: 395px;
    min-height: 55px;
    padding: 0 15px;
    border: 1px solid $color-silver;
  }

  &__form-filter {
    margin-top: 20px;
  }

  &__table-wrapper {
    margin-top: 45px;
  }

  &__table {
    width: 100%;
    border-collapse: collapse;
    vertical-align: top;
  }

  &__cell {
    border: 1px solid $color-greyish-light;
    padding: 15px;
    text-align: center;

    &:nth-child(1),
    &:nth-child(3) {
      width: 30%;
    }

    &:nth-child(2) {
      width: 10%;
    }

    &:nth-child(4),
    &:nth-child(5) {
      width: 15%;
    }
    
    &--name {
      text-align: left;
    }
  }

  &__cell-input,
  &__select-update {
    width: 100%;
    padding: 15px;
    border: 1px solid $color-silver;
  }

  &__message {
    color: $color-scarlet;
    margin-top: 10px;
  }

  &__button-tooltip {
    background-color: transparent;
    border: none;
    padding: 0;
  }
}